
<div class="layout-footer" style="clear: both">
    <div class="panel-footer">
        <div class="box-footer">
            <footer class="footer">
                <% if (config.creative_commons) { %>
                <a href="http://creativecommons.org/">
                    License: <i class="fa fa-cc"></i> <%= config.creative_commons %>
                </a>
                <% } else { %>
                <p class="cr">
                    &copy; <%- date(Date.now(), 'YYYY') %>
                    <%= config.author || config.title %>
                </p>
                <% } %>
                <p class="theme">Powered by
                    <a href="http://hexo.io/" target="_blank">Hexo</a>,
                    Theme
                    <a href="https://github.com/walkingice/hexo-theme-kaku" target="_blank">Kaku</a>
                </p>
            </footer>
        </div>
    </div>
</div>

<%- partial('_vendor/google_analytics') %>
