
style: asset/css/style.css
logo: asset/img/logo.png
image_src: asset/img/logo.png
favicon: asset/img/favicon.png

#google_analytics: test

rss: atom.xml

vendors: vendors

deflinks:    # supports github, twitter, facebook, gplus, linkedin, instagram, slideshare
    github: https://github.com/foobar
    twitter: https://twitter.com/foobar
otherlinks:
    yourcompany:
        name: Love
        url: https://github.com/
        fa: compass    # font-awesome class
    picasa:
        name: Picasa Album
        url: https://link.to.your.picasa
        fa: camera

extracomments: <div>some extra comment as HTML</div>
