<div class="panel-content">
    <div class="row">
        <div class="title">
            <h1 id="blog-title"><%= config.title %></h1>
        </div>
        <div class="">
            <%
                page.posts.each(function(post) {
                    var title = !!post.title ? post.title : 'No Title';
                    var url = !!post.link ? post.link : post.path;

                    preview = title;
                    preview = post.excerpt ? post.excerpt: preview;
            %>
            <div class="article-wrap">
                <%- partial('./article-content',
                            {'title': title,
                                'link': url,
                                'content': preview,
                                'moreBtn': true}) %>
                <%- partial('./article-meta', {'article': post}) %>
            </div>


            <% }); // end of posts for-loop %>
        </div>
    </div>
</div>

