
//// font
font-serif = serif
font-sans = sans-serif
font-mono = "Liberation Mono", monospace
font-title = "標楷體", serif
font-content = sans-serif
font-blockquote = serif

font-family-default = font-sans font-serif

//// syntax
font-size-root = 100%
font-size-default = 1rem
font-color-default = #606060

//// article
article-font-size = 1.1rem
article-line-height = 1.7rem
article-font-color = #606060
article-padding = 20px

//// menu
menu-font-size = 1.1rem
menu-list-width = 80%

//// border
border-default = 1px solid #DCDCDC
border-dashed = 1px dashed #DCDCDC

//// sidebar
sidebar-width = 300px
trigger-width = 700px


//// block
block-60 = 60px
block-50 = 50px
block-40 = 40px
block-30 = 30px
block-20 = 20px
block-10 = 10px
block-5 = 5px

//// gutter

gutter-large = 30px
gutter-def = 15px
gutter-small = 10px;
