.content
    margin:0 auto
    width: 90%
.article-wrap
    margin-top: gutter-large;
    margin-bottom: gutter-large;
.read-more
    margin-top: gutter-large;
    font-weight: bold
    padding: 3px;
    color: #aaa;
.read-more:hover
    color: color-theme
article
    padding: gutter-large;
    background-color: #FFF;
    hr
        border:0; height:1px; background-color:#d4d4d4;
        margin-top: gutter-def;
        margin-bottom: gutter-def;
    p
        font-size: 1rem;
        margin-top: gutter-def
        margin-bottom: gutter-def
    .article-meta
        .tag
            color: #000
            padding: 3px;
            margin-right: 2px;
            border-color: #ccc;
            border-radius: 2px;
            border-style: solid;
            border-width: 1px;
        .tag:hover
            background-color: #eee;
        span.group:first-child
            margin-left: 0px;
        span.group
            margin-left: gutter-large;

h1.article-title
    font-size: 2.5rem;
    margin-bottom: gutter-large;
    a
        color: color-theme
.float-right
    float: right

.gutter-right
    margin-right: gutter-small
.gutter-left
    margin-left: gutter-small
.gutter-horizontal
    margin-right: gutter-small
    margin-left: gutter-small
.gutter-top-
    margin-top: gutter-small
.gutter-bottom
    margin-bottom: gutter-small
.gutter-vertical
    margin-top: gutter-small
    margin-bottom: gutter-small

