.content
    margin:0 auto
    width: 90%
.article-wrap
    margin-top: gutter-large;
    margin-bottom: gutter-large;
.read-more
    margin-top: gutter-large;
    font-weight: bold
    padding: 3px;
    color: #aaa;
.read-more:hover
    color: color-theme
article
    padding: gutter-large;
    background-color: #FFF;
    hr
        border:0; height:1px; background-color:#d4d4d4;
        margin-top: gutter-def;
        margin-bottom: gutter-def;
    p
        font-size: 1rem;
        margin-top: gutter-def
        margin-bottom: gutter-def
.article-meta
    padding: gutter-large;
    background-color: #FFF;
    border-top: 1px solid #DDD;
    color-tag = #F3F3F3
    .tag
        color: #888
        display: inline-block
        position: relative
        padding: 3px 5px 3px 5px
        margin: 5px 10px 5px 5px
        background: color-tag
        -webkit-border-radius: 0 5px 5px 0
        border-radius: 0 5px 5px 0
    .tag::before
        position: absolute
        width: 0px
        height: 0px
        content: " "
        left: -24px
        top: 0px
        border-right-color: color-tag !important
        border: 12px solid transparent
    .tag:hover
        color: #000
    span.group:first-child
        margin-left: 0px;
    span.group
        margin-left: gutter-large;

#blog-title
    text-shadow: 4px 3px 0px #CCC, 9px 8px 0px rgba(0, 0, 0, 0.15)

h1.article-title
    font-size: 2.5rem;
    margin-bottom: gutter-large;
    a
        color: color-theme
.float-right
    float: right

.gutter-right
    margin-right: gutter-small
.gutter-left
    margin-left: gutter-small
.gutter-horizontal
    margin-right: gutter-small
    margin-left: gutter-small
.gutter-top-
    margin-top: gutter-small
.gutter-bottom
    margin-bottom: gutter-small
.gutter-vertical
    margin-top: gutter-small
    margin-bottom: gutter-small
.text-center
    text-align: center
