.content
    margin:0 auto
.article-wrap
    margin-top: gutter-large;
    margin-bottom: gutter-large;
.read-more
    margin-top: gutter-large;
    font-weight: bold
    padding: 3px;
    color: #aaa;
.read-more:hover
    color: color-theme
#blog-title
    text-shadow: 4px 3px 0px #CCC, 9px 8px 0px rgba(0, 0, 0, 0.15)

h1.article-title
    font-size: 2.5rem;
    margin-bottom: gutter-large;
    a
        color: color-theme
.float-right
    float: right

.gutter-right
    margin-right: gutter-small
.gutter-left
    margin-left: gutter-small
.gutter-horizontal
    margin-right: gutter-small
    margin-left: gutter-small
.gutter-top-
    margin-top: gutter-small
.gutter-bottom
    margin-bottom: gutter-small
.gutter-vertical
    margin-top: gutter-small
    margin-bottom: gutter-small
.text-center
    text-align: center
