
.layout-menu
    color: color-menu-text
    margin-top:20px

    @media screen and (max-width: trigger-width)
        margin: 0 auto
        width: 200px
    ul
        padding: 0
        list-style: none

.menu-group
    margin-bottom: gutter-large
.menu-list
    margin: 0 auto
    width: menu-list-width
    line-height: 2rem

.menu-item
    font-size: menu-font-size
    i
        width: 1rem;
    margin-top:5px
    a
        color: white
    a:hover
        color: color-link-menu-hover

.deflinks
    .menu-list
        margin: 0 auto
        width: 90%
    a
        color: white
    a:hover
        color: color-link-menu-hover
.menu-icononly
    margin-right: gutter-small
    margin-left: gutter-small
    font-size: 2.5rem !important
