
.layout-menu
    color: color-menu-text
    margin-top:20px

    @media screen and (max-width: trigger-width)
        margin: 0 auto
        width: 200px

.menu-group
    margin-bottom: gutter-large
.menu-list
    margin: 0 auto
    width: 40%

.menu-item
    i
        width: 1rem;
    margin-top:5px
    a
        color: white
    a:hover
        color: color-link-menu-hover


