
.panel-archive-nav
    margin-top: 20px
    margin-bottom: 20px
    //// debug
    //border: 1px solid blue

.box-archive-nav
    width: 160px
    margin: 0 auto


.panel-post-nav
    margin-top: 20px
    margin-bottom: 20px
    //// debug
    //border: 1px solid blue
    .nav-btn
        background-color: #E6E6E6
        padding: 6px 12px
        margin-left: gutter-def
        margin-right: gutter-def
    .nav-btn:hover
        background-color: #D6D6D6
        color: #000

.box-post-nav
    width: 320px
    margin: 0 auto
    text-align: center
