
#blog-title
    letter-spacing: 2px
    text-shadow: 4px 3px 0px #CCC, 9px 8px 0px rgba(0, 0, 0, 0.15)

img
    max-width: 100%

.layout-content
    margin-left: sidebar-width

    //debug
    //border: 1px solid green

    @media screen and (max-width: trigger-width)
        margin: 0 auto

.panel-content
    margin-top: 40px
    //debug
    //border: 1px solid green

.article-wrap
    margin-top: gutter-large;
    margin-bottom: gutter-large;
.read-more
    margin-top: gutter-large;
    font-weight: bold
    padding: 3px;
    color: #aaa;
.read-more:hover
    color: color-theme

.btn
   background-color: #E6E6E6
   padding: 6px 12px
   margin-left: gutter-def
   margin-right: gutter-def
.btn:hover
   background-color: #D6D6D6
   color: #000


////  article  ////

.panel-post-nav
    margin-top: 20px
    margin-bottom: 20px
    // debug
    //border: 1px solid blue

.box-post-nav
    margin: 0 auto
    text-align: center

article p, article table, article ol, article ul, article iframe, article dl
    margin-top: block-10
    margin-bottom: block-10

article li ol, article li ul
    margin-bottom: 0

.box-article-nav
    margin: 0 auto
    text-align: center

article
    padding: article-padding
    background-color: #FBFBFB
    font-size: article-font-size
    line-height: article-line-height
    color: article-font-color
    text-shadow: 0px 1px 0px #FFF
    a
        color: #B6AA60
    hr
        border:0
        height:1px
        background-color:#d4d4d4
        margin-top: gutter-def
        margin-bottom: gutter-def
    p
        margin-top: 1 * article-line-height
        margin-bottom: 1.2 * article-line-height
        a
            border-bottom: 1px dotted #bdbdbd
    .article-title
        margin-top: block-10 !important
        margin-bottom: gutter-large;
        a
            color: color-theme
    .img-row
        text-align: center
        margin-top: gutter-large
        margin-bottom: gutter-large


.article-meta
    padding: gutter-large
    background-color: #FFF
    border-top: 1px solid #DDD
    color-tag = #F3F3F3
    .tag
        color: #888
        display: inline-block
        position: relative
        padding: 3px 5px 3px 5px
        margin: 5px 10px 5px 5px
        background: color-tag
        -webkit-border-radius: 0 5px 5px 0
        border-radius: 0 5px 5px 0
    .tag::before
        position: absolute
        width: 0px
        height: 0px
        content: " "
        left: -24px
        top: 0px
        border-right-color: color-tag !important
        border: 12px solid transparent
    .tag:hover
        color: #000
    span.group:first-child
        margin-left: 0px
    span.group
        margin-left: gutter-large

.content
    overflow: hidden
    margin:0 auto
    padding-bottom: block-20
    header-color = #AAA

    h1, h2, h3, h4, h5, h6
        font-family: font-title

    h1
        //text-transform: uppercase
        font-size: 28px
        color: header-color
        margin-top: block-40
        margin-bottom: block-10

    h2
        font-size: 24px
        color: header-color
        padding-top: block-20
        margin-bottom: block-10

    h3
        //text-transform: uppercase
        font-size: 22px
        color: header-color
        font-weight: normal
        margin-top: block-10
        margin-bottom: block-10

    h4
        //text-transform: uppercase
        font-size: 1.2rem
        margin-top: block-5
        margin-bottom: block-10

    h5
        //text-transform: uppercase
        font-size: 1rem
        text-indent: 5px
        margin-top: block-5
        margin-bottom: block-10

    h6
        //text-transform: uppercase
        font-style: italic
        font-size: 1rem
        text-indent: 5px
        margin-top: block-5
        margin-bottom: block-10

    blockquote
        font-style: italic
        font-size: 1.1em
        word-spacing: 3px
        font-family: font-blockquote
        background: rgba(0, 0, 0, 0.03)
        color: #999
        line-height: 1.4em
        border-left: solid 3px #e4e3e3;
        margin-top: block-10
        margin-bottom: block-10
        padding: 0.75em 35px

    .pullquote
        text-align: left
        width: 45%
        margin: 0

        &.left
            margin-left: 0.5em
            margin-right: 1em
            float:left

        &.right
            margin-right: 0.5em
            margin-left: 1em
            float:right

////  archive  ////

.panel-archive-nav
    margin-top: 20px
    margin-bottom: 20px
    //// debug
    //border: 1px solid blue

.box-archive-nav
    width: 160px
    margin: 0 auto

.box-archive-list
    margin: 0 auto

    //debug
    //border: 1px solid blue

    ul,ol
        padding-top: gutter-large
        padding-left: 0px
    box-border-style = solid 1px #DDD
    li
        padding-top: gutter-def
        padding-bottom: gutter-def
        padding-left: 10px
        padding-right: 10px
        background: #EEE
        border-top: box-border-style
        list-style-type: none
        margin-top: -1px
    li:last-child
        border-bottom: box-border-style
    li:hover
        background: white

.archive-item-title
    font-size: 1.2rem
    font-weight: bold
.archive-item-date
    //position
    position: relative

.panel-archive-index-title
    margin-bottom: 40px


.box-archive-index
    margin: 0 auto
    width: 90%

    //debug
    //border: 1px solid blue



[class*='col-']
    float: left
    padding: 0 5px

    +:first-child
        padding: 0 5px 0 0

    +:last-child
        padding: 0 0 0 5px


.box-archive-index .col-1-3
    width: 32.333%

    h3
        border-bottom: border-default
        padding-bottom: block-10
        margin-bottom: block-20
        text-transform: uppercase
        font-size: font-small
        letter-spacing: 2px

    ul
        padding-left: 15px
        line-height: 2

.archive-list, .category-list, .tag-list
    .archive-list-link, .category-list-link, .tag-list-link
        font-size: 1.2rem
    .archive-list-count, .category-list-count, .tag-list-count
        position: relative
        display: inline-block
        min-width: 10px
        font-size: 12px
        border-radius: 10px
        line-height: 1rem
        color: #FFF
        background-color: #CCC
        padding: 3px 7px
        margin-left: gutter-def

